# PowerPython Dependencies
# Generated for environment: win32 (2026-05-11)

numpy==2.4.4
pandas==3.0.2
cvxpy==1.8.2
scipy==1.17.1
oct2py==6.0.3
openpyxl==3.1.5

# CVXPY Solvers
clarabel==0.11.1
osqp==1.1.1
highspy==1.14.0

# Utils
python-dotenv==1.0.1
